<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://funtion-servicioorganizacion.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/87577873-aeba-4bda-95a7-8fcb743c4282/resourceGroups/Funtion-ServicioOrganizacion-RG/providers/Microsoft.Web/sites/Funtion-ServicioOrganizacion</ResourceId>
    <UserName>$Funtion-ServicioOrganizacion</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://funtion-servicioorganizacion.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>